<!-- Games -->
<div id="games-img-container" class="container">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/1/11/Kotorbox.jpg" alt="swkotor">
        <div class="card-block">
          <h4 class="card-title">Star Wars Knights of the Old Republic</h4>
          <p class="card-text">A game of memory loss and betrayl, SWKOTR is a fantastic example of how a story should be
            told.</p>
          <a href="/games">Add to favorites</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://img.game.co.uk/ml2/3/4/2/3/342368_pcw_b.png" alt="overwatch">
        <div class="card-block">
          <h4 class="card-title">Overwatch</h4>
          <p class="card-text">Being a Blizzard title, you know Overwatch is a well built game.</p>
          <a href="/games">Add to favorites</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/8/80/Diablo_III_cover.png" alt="diablo 3">
        <div class="card-block">
          <h4 class="card-title">Diablo 3</h4>
          <p class="card-text">Another Blizzard title, Diablo 3 is a great action/rpg.</p>
          <a href="/games">Add to favorites</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="http://img.game.co.uk/ml2/2/5/2/0/252084_pcw_b.png" alt="borderlands 2">
        <div class="card-block">
          <h4 class="card-title">Borderlands 2</h4>
          <p class="card-text">with even more content than the first, Borderlands 2 has a massive ammount of content
            (and even more guns).</p>
          <a href="/games">Add to favorites</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://vignette4.wikia.nocookie.net/saintsrow/images/f/f9/Saints_Row_The_Third_The_Full_Package_box_art.jpg/revision/latest/scale-to-width-down/300?cb=20150221055055" alt="saints row the third">
        <div class="card-block">
          <h4 class="card-title">Saints Row the Third</h4>
          <p class="card-text">Hilarity with a large influence from GTA.</p>
          <a href="/games">Add to favorites</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://www.mariowiki.com/images/thumb/7/79/Box_NA_-_Super_Mario_Sunshine.png/250px-Box_NA_-_Super_Mario_Sunshine.png" alt="super mario sunshine">
        <div class="card-block">
          <h4 class="card-title">Super Mario Sunshine</h4>
          <p class="card-text">One of the best Mario titles (which is saying a lot) Sunshine is a fantastic game.</p>
          <a href="/games">Add to favorites</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/7/7a/JetSetRadioFuturebox.jpg" alt="jet set radio future">
        <div class="card-block">
          <h4 class="card-title">Jet Set Radio Future</h4>
          <p class="card-text">A gem on the origional Xbox system, JSRF is a rollerblading masterpiece with great
            music.</p>
          <a href="/games">Add to favorites</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/a/a5/Grand_Theft_Auto_V.png" alt="gta v">
        <div class="card-block">
          <h4 class="card-title">Grand Theft Auto V</h4>
          <p class="card-text">A game that is still highly relevent 4 years after its release, this game is definitely a
            good one.</p>
          <a href="/games">Add to favorites</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/6/6d/BioShock_cover.jpg" alt="bioshock">
        <div class="card-block">
          <h4 class="card-title">Bioshock</h4>
          <p class="card-text">An incredible journey under the ocean, with possesed little girls and their 'big daddys'
            this is an experience you wont soon forget.</p>
          <a href="/games">Add to favorites</a>
        </div>
      </div>
    </div>
  </div>
</div>