
<!-- Container to hold posts (nested) -->
<div class="container">
  <div class="row">
    <div id='index-title-column' class="col-12">
      <h1 id="">Recent Posts</h1>
      <div id='' class="row">
        <div class="col-11 nested-div-containing-posts">
          <p>Posts go here</p>
        </div>
        <div class="col-11 nested-div-containing-posts">
          <p>Posts go here</p>
        </div>
        <div class="col-11 nested-div-containing-posts">
          <p>Posts go here</p>
        </div>
        <div class="col-11 nested-div-containing-posts">
          <p>Posts go here</p>
        </div>
        <div class="col-11 nested-div-containing-posts">
          <p>Posts go here</p>
        </div>
        <div class="col-11 nested-div-containing-posts">
          <p>Posts go here</p>
        </div>
        <div class="col-11 nested-div-containing-posts">
          <p>Posts go here</p>
        </div>
      </div>
    </div>
  </div>
</div>
